.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}

.full-height-element {
    height: 100%;
}

.hide-qr {
    visibility: hidden;
    height: 0;
}

.unhide-qr {
    visibility: visible;
    height: unset;
}

.scan-qr-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

._5ml {
    margin-left: 5px;
}