/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "font-awesome/css/font-awesome.min.css";

body {
    background-image: url('./assets/bg.jpg'); /* Replace with the path to your background image */
    background-size: cover;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}