@if(isElectionStarted) {
  <div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2>Shangri-La Valley General Election</h2>
      <button class="btn btn-secondary" (click)="logout()">Logout</button>
    </div>
    
    <!-- Constituency Heading -->
    <div class="text-left mb-4">
      <h4>Your Constituency: {{currentConstituency?.name}}</h4>
    </div>
  
    <!-- Candidates Heading -->
    <div class="text-center mb-4">
      <h3>Candidates</h3>
    </div>
  
    <!-- Card Section -->
    <div class="row">
      <!-- Cards -->
      @for (candidate of candidates; track candidate) {
        <div class="col-md-4 mb-4">
          <div class="card card-bg">
            <div class="card-body text-center">
              <h5 class="card-title">{{candidate?.name}}</h5>
              <p class="card-text"><strong>{{candidate?.party?.party_name}}</strong></p>
              @if(!hideVoteBtn) {
                <button class="btn btn-primary mx-auto" (click)="castVote(candidate.id)">Vote</button>
              }
            </div>
          </div>
        </div>  
      }
   
     
    </div>
  </div>
} @else {
  <div class="container mt-5">
  
    <!-- Centered Heading 1 -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2>Shangri-La Valley General Election</h2>
      <button class="btn btn-secondary" (click)="logout()">Logout</button>
    </div>

    <!-- Centered Heading 2 -->
    <div class="text-center mb-4 pt-4">
      <h2 class="sub-heading">General Election Not Started Yet</h2>
    </div>

    @if(lastElectionResult.status === 'ended') {
      <div class="text-center mb-4 pt-4">
        @if(!lastElectionResult.winner_id) {
          <h2 class="sub-heading">Last Election Turned Out As Hung Parliament</h2> 
        } @else {
          <h2 class="sub-heading">Last Election Winner Was {{lastElectionResult?.winner?.party_name}}</h2>
        }
      </div>
    }
  </div>
}

<div class="my-container">
  <ng-template #customLoadingTemplate>
  </ng-template>

  <ngx-loading
    [show]="loading"
    [config]="{ fullScreenBackdrop: true }"
    [template]="customLoadingTemplate"
  ></ngx-loading>
</div>