@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
}
40% {
    transform: translateY(-10px);
}
60% {
    transform: translateY(-5px);
}
}

.sub-heading {
    animation: bounce 1s infinite;
}

.card-bg {
    background: linear-gradient(to right, #f6f6f6, #f1e8d3);
}